@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.medium{
    font-size: 15px;
}
.sub-title{
    font-size: 30px;
}
.small{
    font-size: 20px;
}
.title{
    margin-top: 15px;
}